# Assignment 3
All questions are weighted the same in this assignment. This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. All questions are worth the same number of points except question 1 which is worth 17% of the assignment grade.

**Note**: Questions 2-13 rely on your question 1 answer.

In [1]:
import pandas as pd
import numpy as np

### Question 1
Load the energy data from the file `assets/Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](assets/Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **Energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable]`

Convert `Energy Supply` to gigajoules (**Note: there are 1,000,000 gigajoules in a petajoule**). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with parenthesis in their name. Be sure to remove these, e.g. `'Bolivia (Plurinational State of)'` should be `'Bolivia'`. Additionally, there are several countries with Numeric digits in their name. Make sure to remove these as well, e.g. `'Italy9'` should be `'Italy'`. 

Next, load the GDP data from the file `assets/world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `assets/scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries, and the rows of the DataFrame should be sorted by "Rank".*

In [2]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (2.0.1)

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

* remove header, skip first and last few rows, only use columns 2,3,4,5
* rename columns
* replace values w ... to NaN
* multiple values in a column by 10^6
* rename few countries

In [37]:
Energy = pd.read_excel('assets/Energy Indicators.xls', header = None, skiprows = 18, skipfooter = 38, usecols = [2,3,4,5])
Energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
Energy['Country'] = Energy['Country'].str.replace(r" \(.*\)","")

Energy['Energy Supply'] = Energy['Energy Supply'].apply(lambda x: x*1000000)

Energy['Country'].replace({"Republic of Korea": "South Korea", "United States of America20": "United States",
                           "United Kingdom of Great Britain and Northern Ireland19": "United Kingdom", "China, Hong Kong Special Administrative Region3": "Hong Kong",
                           "Bolivia (Plurinational State of)": "Bolivia", "Australia1": "Australia", "China2": "China", "Denmark5": "Denmark", "France6": "France",
                           "Greenland7": "Greenland", "Indonesia8": "Indonesia", "China, Macao Special Administrative Region4": "Macao",
                            "Italy9": "Italy", "Japan10": "Japan", "Kuwait11": "Kuwait", "Netherlands12": "Netherlands", "Portugal13": "Portugal",
                             "Saudi Arabia14": "Saudia Arabia", "Serbia15": "Serbia", "Spain16": "Spain", "Switzerland17": "Switzerland", "Ukraine18": "Ukraine"}, inplace = True)
Energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321000000,10,78.669280
1,Albania,102000000,35,100.000000
2,Algeria,1959000000,51,0.551010
3,American Samoa,.................................................,...,0.641026
4,Andorra,9000000,121,88.695650
...,...,...,...,...
222,Viet Nam,2554000000,28,45.321520
223,Wallis and Futuna Islands,0,26,0.000000
224,Yemen,344000000,13,0.000000
225,Zambia,400000000,26,99.714670
226,Zimbabwe,480000000,32,52.536120

In [4]:
GDP = pd.read_csv('assets/world_bank.csv', skiprows = 4)
GDP['Country Name'].replace({"Korea, Rep.": "South Korea",  "Iran, Islamic Rep.": "Iran", "Hong Kong SAR, China": "Hong Kong"}, inplace = True)
GDP.rename(columns = {"Country Name": "Country"}, inplace = True)
GDP

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,"Yemen, Rep.",YEM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.672565e+10,2.761787e+10,2.872656e+10,2.991436e+10,3.090675e+10,2.624342e+10,2.689160e+10,2.800914e+10,NaN,NaN
260,South Africa,ZAF,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,7.707081e+10,8.003449e+10,8.497844e+10,9.124438e+10,9.848904e+10,1.072507e+11,...,3.402852e+11,3.585261e+11,3.699668e+11,3.642764e+11,3.753494e+11,3.874074e+11,3.960071e+11,4.047682e+11,4.110369e+11,4.163117e+11
261,"Congo, Dem. Rep.",COD,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.508024e+10,1.344383e+10,1.629401e+10,1.714358e+10,1.672524e+10,1.689205e+10,...,1.650894e+10,1.754232e+10,1.863448e+10,1.916651e+10,2.052329e+10,2.193213e+10,2.350200e+10,2.550050e+10,2.778776e+10,2.970961e+10
262,Zambia,ZMB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.592975e+09,4.655503e+09,4.539542e+09,4.688093e+09,5.260699e+09,6.136472e+09,...,1.440569e+10,1.560892e+10,1.682234e+10,1.837342e+10,2.026555e+10,2.140358e+10,2.302438e+10,2.420595e+10,2.542227e+10,2.624127e+10
263,Zimbabwe,ZWE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.338344e+09,3.549199e+09,3.600111e+09,3.824915e+09,3.782605e+09,3.968352e+09,...,1.006276e+10,9.695130e+09,7.982103e+09,8.459783e+09,9.422161e+09,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10

In [5]:
ScimEn = pd.read_excel('assets/scimagojr-3.xlsx', skipfooter = 176)
ScimEn

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
5,6,Canada,17899,17620,215003,40930,12.01,149
6,7,Germany,17027,16831,140566,27426,8.26,126
7,8,India,15005,14841,128763,37209,8.58,115
8,9,France,13153,12973,130632,28601,9.93,114
9,10,South Korea,11983,11923,114675,22595,9.57,104
10,11,Italy,10964,10794,111850,26661,10.20,106
11,12,Spain,9428,9330,123336,23964,13.08,115
12,13,Iran,8896,8819,57470,19125,6.46,72
13,14,Australia,8831,8725,90765,15606,10.28,107
14,15,Brazil,8668,8596,60702,14396,7.00,86

In [6]:

merge1 = pd.merge(ScimEn, Energy, how = 'inner', left_on="Country",right_on="Country")
GDP = GDP[['Country', 'Country Code', 'Indicator Name', 'Indicator Code', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
merge2 = pd.merge(merge1, GDP, how = 'inner', left_on="Country",right_on="Country").set_index("Country")
merge2 = merge2[['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply',
                 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
merge2

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [29]:
def answer_one():
    # YOUR CODE HERE
    Energy = pd.read_excel('assets/Energy Indicators.xls', header = None, skiprows = 18, skipfooter = 38, usecols = [2,3,4,5])
    Energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    Energy['Energy Supply'] = Energy['Energy Supply'].apply(lambda x: x*1000000)

    Energy['Country'] = Energy['Country'].str.replace(r" \(.*\)","")

    Energy['Country'].replace({"Republic of Korea": "South Korea", "United States of America20": "United States",
                            "United Kingdom of Great Britain and Northern Ireland19": "United Kingdom", "China, Hong Kong Special Administrative Region3": "Hong Kong",
                            "Bolivia (Plurinational State of)": "Bolivia", "Australia1": "Australia", "China2": "China", "Denmark5": "Denmark", "France6": "France",
                            "Greenland7": "Greenland", "Indonesia8": "Indonesia", "China, Macao Special Administrative Region4": "Macao",
                                "Italy9": "Italy", "Japan10": "Japan", "Kuwait11": "Kuwait", "Netherlands12": "Netherlands", "Portugal13": "Portugal",
                                "Saudi Arabia14": "Saudia Arabia", "Serbia15": "Serbia", "Spain16": "Spain", "Switzerland17": "Switzerland", "Ukraine18": "Ukraine"}, inplace = True)
    
    GDP = pd.read_csv('assets/world_bank.csv', skiprows = 4)
    GDP['Country Name'].replace({"Korea, Rep.": "South Korea",  "Iran, Islamic Rep.": "Iran", "Hong Kong SAR, China": "Hong Kong"}, inplace = True)
    
    ScimEn = pd.read_excel('assets/scimagojr-3.xlsx', skipfooter = 176)

    merge1 = pd.merge(ScimEn, Energy, how = 'inner', left_on="Country",right_on="Country")

    GDP.rename(columns = {"Country Name": "Country"}, inplace = True)
    GDP = GDP[['Country', 'Country Code', 'Indicator Name', 'Indicator Code', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
    
    merge2 = pd.merge(merge1, GDP, how = 'inner', left_on="Country",right_on="Country").set_index("Country")
    merge2 = merge2[['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply',
                    'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
    
    return merge1

### Question 2
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [9]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [10]:
def answer_two():
    # YOUR CODE HERE
    Energy = pd.read_excel('assets/Energy Indicators.xls', header = None, skiprows = 18, skipfooter = 38, usecols = [2,3,4,5])
    Energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    Energy['Energy Supply'] = Energy['Energy Supply'].apply(lambda x: x*1000000)
    
    Energy['Country'] = Energy['Country'].str.replace(r" \(.*\)","")
    
    Energy['Country'].replace({"Republic of Korea": "South Korea", "United States of America20": "United States",
                            "United Kingdom of Great Britain and Northern Ireland19": "United Kingdom", "China, Hong Kong Special Administrative Region3": "Hong Kong",
                            "Bolivia (Plurinational State of)": "Bolivia", "Australia1": "Australia", "China2": "China", "Denmark5": "Denmark", "France6": "France",
                            "Greenland7": "Greenland", "Indonesia8": "Indonesia", "China, Macao Special Administrative Region4": "Macao",
                                "Italy9": "Italy", "Japan10": "Japan", "Kuwait11": "Kuwait", "Netherlands12": "Netherlands", "Portugal13": "Portugal",
                                "Saudi Arabia14": "Saudia Arabia", "Serbia15": "Serbia", "Spain16": "Spain", "Switzerland17": "Switzerland", "Ukraine18": "Ukraine"}, inplace = True)

    GDP = pd.read_csv('assets/world_bank.csv', skiprows = 4)
    GDP['Country Name'].replace({"Korea, Rep.": "South Korea",  "Iran, Islamic Rep.": "Iran", "Hong Kong SAR, China": "Hong Kong"}, inplace = True)
    GDP.rename(columns = {"Country Name": "Country"}, inplace = True)
    
    ScimEn = pd.read_excel('assets/scimagojr-3.xlsx')
    
    # outer
    merge_outer1 = pd.merge(ScimEn, Energy, how = 'outer', left_on="Country",right_on="Country")
    merge_outer2 = pd.merge(merge_outer1, GDP, how = 'outer', left_on="Country",right_on="Country").set_index("Country")

    # inner
    GDP_inner = GDP[['Country', 'Country Code', 'Indicator Name', 'Indicator Code', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
    merge_inner1 = pd.merge(ScimEn, Energy, how = 'inner', left_on="Country",right_on="Country")
    merge_inner2 = pd.merge(merge_inner1, GDP_inner, how = 'inner', left_on="Country",right_on="Country").set_index("Country")

    result = len(merge_outer2) - len(merge_inner2)
    return result

### Question 3
What are the top 15 countries for average GDP over the last 10 years?

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [38]:
q3 = merge2[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
avg_gdp = q3.mean(axis = 1)
avgGDP = avg_gdp.sort_values(ascending = False)
avgGDP

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
dtype: float64

In [13]:
def answer_three():
    # YOUR CODE HERE
    merge2 = answer_one()
    q3 = merge2[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
    avg_gdp = q3.mean(axis = 1)
    avgGDP = avg_gdp.sort_values(ascending = False)
    return avgGDP

### Question 4
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [39]:
q4 = merge2[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
uk = q4.loc["United Kingdom"]

change = uk.loc['2015'] - uk.loc['2006']
change

246702696075.3999

In [15]:
def answer_four():
    # YOUR CODE HERE
    merge2 = answer_one()
    q4 = merge2[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
    uk = q4.loc["United Kingdom"]

    change = uk.loc['2015'] - uk.loc['2006']
    return change

### Question 5
What is the mean energy supply per capita?

*This function should return a single number.*

In [42]:
q5 = merge2["Energy Supply per Capita"]
mean_energy = q5.mean()
mean_energy

160.35714285714286

In [17]:
def answer_five():
    # YOUR CODE HERE
    merge2 = answer_one()
    q5 = merge2["Energy Supply per Capita"]
    mean_energy = q5.mean()
    return mean_energy

### Question 6
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [18]:
q6 = merge2['% Renewable']
max_renewable = q6.max()
max_index = q6.idxmax()
q6_ans = (max_index, max_renewable)
q6_ans

('Brazil', 69.64803)

In [19]:
def answer_six():
    # YOUR CODE HERE
    merge2 = answer_one()
    q6 = merge2['% Renewable']
    max_renewable = q6.max()
    max_index = q6.idxmax()
    q6_ans = (max_index, max_renewable)
    return q6_ans

### Question 7
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [20]:
q7 = merge2[['Self-citations', 'Citations']]
q7['ratio'] = q7['Self-citations'] / q7['Citations']
max_ratio = q7['ratio'].max()
max_index = q7['ratio'].idxmax()
q7_ans = (max_index, max_ratio)
q7_ans

C:\Users\User\AppData\Local\Temp\ipykernel_22176\1331210098.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  q7['ratio'] = q7['Self-citations'] / q7['Citations']

('China', 0.6893126179389422)

In [21]:
def answer_seven():
    # YOUR CODE HERE
    merge2 = answer_one()
    q7 = merge2[['Self-citations', 'Citations']]
    q7['ratio'] = q7['Self-citations'] / q7['Citations']
    max_ratio = q7['ratio'].max()
    max_index = q7['ratio'].idxmax()
    q7_ans = (max_index, max_ratio)
    return q7_ans

### Question 8

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return the name of the country*

In [22]:
q8 = merge2[['Energy Supply', 'Energy Supply per Capita']]
q8['population'] = q8['Energy Supply'] / q8['Energy Supply per Capita']
popular = q8.sort_values(by = 'population', ascending = False)
popular_country = popular['population'].index[2]
popular_country

C:\Users\User\AppData\Local\Temp\ipykernel_22176\4087658320.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  q8['population'] = q8['Energy Supply'] / q8['Energy Supply per Capita']

'United States'

In [23]:
def answer_eight():
    # YOUR CODE HERE
    merge2 = answer_one()
    q8 = merge2[['Energy Supply', 'Energy Supply per Capita']]
    q8['population'] = q8['Energy Supply'] / q8['Energy Supply per Capita']
    popular = q8.sort_values(by = 'population', ascending = False)
    popular_country = popular['population'].index[2]
    return popular_country

### Question 9
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [24]:
Top15 = merge2
Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
Top15['Citable docs per Capita'].corr(Top15['Energy Supply per Capita'])

0.7901935488300876

In [31]:
def answer_nine():
    # YOUR CODE HERE
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    corr = Top15['Citable docs per Capita'].corr(Top15['Energy Supply per Capita'])
    return corr

In [32]:
answer_nine()

0.7901935488300876

In [26]:
def plot9():
    import matplotlib as plt
    %matplotlib inline
    
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    Top15.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])

In [27]:
assert answer_nine() >= -1. and answer_nine() <= 1., "Q9: A valid correlation should between -1 to 1!"

### Question 10
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [28]:
median_renewable = merge2['% Renewable'].median()
merge2['Median Check'] = np.where(merge2['% Renewable'] >= median_renewable, 1, 0)
HighRenew = merge2['Median Check']
HighRenew

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                0
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: Median Check, dtype: int32

In [29]:
def answer_ten():
    # YOUR CODE HERE
    merge2 = answer_one()
    median_renewable = merge2['% Renewable'].median()
    merge2['Median Check'] = np.where(merge2['% Renewable'] >= median_renewable, 1, 0)
    HighRenew = merge2['Median Check']
    return HighRenew

### Question 11
Use the following dictionary to group the Countries by Continent, then create a DataFrame that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [ ]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

q11 = merge2
q11['Continent'] = pd.Series(ContinentDict)
q11['Est Population'] = q11['Energy Supply'] / q11['Energy Supply per Capita']
df_11 = q11.groupby('Continent')['Est Population'].agg([np.size,np.sum, np.mean, np.std])
df_11

In [44]:
def answer_eleven():
    # YOUR CODE HERE
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    
    q11 = answer_one()
    q11['Continent'] = pd.Series(ContinentDict)
    q11['Est Population'] = q11['Energy Supply'] / q11['Energy Supply per Capita']
    df_11 = q11.groupby('Continent')['Est Population'].agg([np.size,np.sum, np.mean, np.std])
    return df_11

### Question 12
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a Series with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [48]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

Top15 = answer_one()
Top15['Continent'] = pd.Series(ContinentDict)
Top15['% Renewable']=pd.cut(Top15['% Renewable'],5)   # array issue

q12 = Top15.groupby(['Continent','% Renewable'], observed = True)['Continent'].agg(np.size).dropna()
q12

Series([], Name: Continent, dtype: object)

In [26]:
def answer_twelve():
    # YOUR CODE HERE
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

    Top15 = answer_one()
    Top15['Continent'] = pd.Series(ContinentDict)
    Top15['% Renewable']=pd.cut(Top15['% Renewable'],5)   # array issue

    q12 = Top15.groupby(['Continent','% Renewable'], observed = True)['Continent'].agg(np.size).dropna()
    return q12

### Question 13
Convert the Population Estimate series to a string with thousands separator (using commas). Use all significant digits (do not round the results).

e.g. 12345678.90 -> 12,345,678.90

*This function should return a series `PopEst` whose index is the country name and whose values are the population estimate string*

In [50]:
q13 = merge2
q13['Est Population'] = q13['Energy Supply'] / q13['Energy Supply per Capita']
q13_series = q13['Est Population'].apply('{:,}'.format)
q13_series

0     1,367,645,161.2903225
1      317,615,384.61538464
2      127,409,395.97315437
3      63,870,967.741935484
4             143,500,000.0
5       35,239,864.86486486
6       80,369,696.96969697
7     1,276,730,769.2307692
8       63,837,349.39759036
9      49,805,429.864253394
10     59,908,256.880733944
11       46,443,396.2264151
12     23,316,017.316017315
13     205,915,254.23728815
Name: Est Population, dtype: object

In [51]:
def answer_thirteen():
    # YOUR CODE HERE
    q13 = answer_one()
    q13['Est Population'] = q13['Energy Supply'] / q13['Energy Supply per Capita']
    q13_series = q13['Est Population'].apply('{:,}'.format)
    return q13_series

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [52]:
def plot_optional():
    import matplotlib as plt
    %matplotlib inline
    Top15 = answer_one()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")